.billboard{
    width: 100%;
    height: 400px;
    position: relative;
}

.billboard i{
    transition: 0.2s ease-in-out all;
}
.billboard i:hover{
    color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1.1);
}

.billboard__title {
    /* transform: translateX(-50%); */
    text-transform: uppercase;
    max-width: 60%;
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    /* text-shadow: 
        2px 2px 0 var(--main-color), 
        -2px -2px 0 var(--main-color), 
        2px -2px 0 var(--main-color), 
        -2px 2px 0 var(--main-color);
    color: var(--main-bg-color); */
    text-shadow: 2px 4px 6px var(--main-bg-color); 
    transform: translateY(-50%);
}

.billboard__poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 2rem;  */
    /* mask-image: radial-gradient(103% 10.5% at 50% 102%, transparent 50%, white 52%); */

}

.billboard__arrowr{
    position: absolute;
    top: 50%;
    left: 93%;
    font-size: 2rem;
}
.billboard__arrowl{
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 2rem;
}

.billboard__button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid var(--main-color);
    width: 20%;
    height: 2.5rem;
    background-color: var(--secondary-color);
    /* background-color: var(--main-bg-color); */
    font-size: 1rem;
    border-radius: 0 0 1rem;
    position: absolute;
    top: 85%;
    left: 75%;
    text-decoration: none;
    color: var(--main-bg-color);
    overflow: hidden;
}

.billboard__button:hover{
    border: 2px solid var(--main-color);
    /* background-color: var(--main-bg-color); */
    /* color: var(--main-color); */
}

.billboard__button::after{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem;
    background-color: var(--main-bg-color);
    /* background-color: var(--secondary-color); */
    transition: 0.5s ease-in-out all;
}
.billboard__button:hover::after{
    left: 0;
}

.button__span{
    color: var(--main-bg-color);
    font-size: 0.8rem;
    z-index: 2;
}

.billboard__button:hover .button__span {
    color: var(--secondary-color); /* Cambia el color del texto cuando el hover está activo */
}

.movielist{
    background-color: var(--main-bg-color);
}

.movielist__title{
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0;
    color: var(--secondary-color);
    letter-spacing: 0.1rem;
}

.movielist__container{
    display: grid;
    justify-items: center; 
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 650px) {
    .movielist__container {
        grid-template-columns: repeat(3, 1fr); 
    }
    .billboard__title{
        font-size: 3rem;
    }
    .billboard{
        height: 450px;
    }

    .button__span{
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .billboard__title{
        font-size: 3.5rem;
    }


}
@media (min-width: 1024px) {
    .movielist__container {
        grid-template-columns: repeat(4, 1fr);
    }
    .movielist__title{
        font-size: 3rem;
        padding: 4rem 0;
    }
    .billboard{
        height: 500px;
    }
    .billboard__title{
        font-size: 4rem;
    }

}

@media (min-width: 1200px) {
    .billboard__title{
        font-size: 5rem;
    }
    .movielist__container {
        grid-template-columns: repeat(5, 1fr); 
    }
    .billboard{
        height: 550px;
    }
}

@media (min-width: 1500px) {
    .billboard{
        height: 700px;
    }
    .billboard__title{
        font-size: 6rem;
    }
    
    .billboard__arrowl{
        font-size: 3rem
    }
    .billboard__arrowr{
        font-size: 3rem
    }
    
}