.nav {
    height: 100%;
    width: 100%;
    /* border: 1px solid yellow; */
    /* gap: 12rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    top: -10%;
    /* z-index: 1000; */
}

.nav__logo {
    width: 3.5rem;
}

.container__menu{
    /* border: 2px solid yellow; */
    /* display: none; */
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease;
}

.container__menu.active{
    left: 0;
}
.nav__link {
    /* padding-top: 0.9rem; */
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--secondary-color);
}
.nav__link-sesion {
    cursor: pointer;
}

.nav__link:hover {
    color: var(--main-bg-color);
    color: var(--secondary-color);
    transform: scale(0.97);
    transition: transform 0.5s;
}
.nav__icons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav__x{
    display: flex;
    position: absolute;
    left: 90%;
    top: 5%;
    cursor: pointer;
}
.icon__menu{
    font-size: 2rem;
}
.icon__sesion{
    font-size: 2rem;
}
.icon__close{
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.modalsesion{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modalsesion.display {
    display: flex; /* Mostrar cuando tenga la clase 'show' */
}
.modalsesion__container{
    max-width: 800px;
    width: 75vw;
    height: 75vh;
    background-color: var(--main-bg-color);
    /* background-color: var(--secondary-color); */
    position: absolute;
    top: 55vh;          
    left: 50%;         
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    animation: slide-in 1s forwards;
}
.modal__x{
    display: flex;
    position: absolute;
    left: 90%;
    left: calc(100% - 2rem);
    top: 5%;
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}
@keyframes slide-in {
    from {
        transform: translate(100%, -50%); 
    }
    to {
        transform: translate(-50%, -50%); 
    }
}

.container__sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-top: 5rem;
}

.container__title{
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.container__form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    height: 80%;
}

.form__label{
    font-size: 1rem;
    margin-top: 1rem;
}

.form__input{
    background: none;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--main-color);
}

.form__input:focus{
    outline: none;
    border-color: var(--secondary-color);
}

.form__button{
    background-color: var(--secondary-color);
    width: 55%;
    height: 15%;
    border-radius: 5px;
    border-color: var(--secondary-color);
    margin: 1rem auto;
    color: var(--main-bg-color);
    font-size: 1rem;
}

.form__button:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav__sesion{
        display: none;
    }
    .nav__burguer{
        display: none;
    }
    .container__menu{
        all: unset;
        gap: 2rem;
        width: 90%;
        display: flex;
        justify-content: end;
    } 
    .nav__x{
        display: none;
    }
    .nav__link{
        color: var(--main-color);
    }
}

@media (min-width: 1024px) {
    .nav{
        margin: 1.5rem 2.5rem;
    }
    .container__menu{
        gap: 3.5rem;
    }
    .modal__x{
        left: calc(100% - 3.5rem);
    }

    .container__title{
        font-size: 2rem;
    }

    .form__label{
        font-size: 1.3rem;
    }
    .form__input{
        font-size: 1.4rem;
    }

    .form__button{
        font-size: 1.2rem;
    }
}

@media (min-width: 1500px) {
    .nav{
        margin: 1.5rem 3rem;
    }
    .fa-solid{
        font-size: 3rem
    }
    .icon__close{
        font-size: 2rem;
    }

    .nav__logo {
        width: 4.5rem;
    }

    .nav__link{
        font-size: 1.5rem;  
    }
}